body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 20% 80%;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
	font-family: 'Poppins', sans-serif;
}

.header {
	grid-area: header;
	padding:10px;
	background-color: rgb(49, 90, 228);
	color: rgb(235, 214, 24);
	font-size: 2em;
	font-family: 'Alegreya Sans', sans-serif;
}

.sidebar {
	color: rgb(143, 31, 187);
	grid-area: sidebar;
	padding:27px;
	background-color: rgb(119, 167, 230);
	overflow: auto;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(82, 145, 226);
}