body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	text-align: center;
	padding:10px;
    background-color: rgb(50, 112, 101);
	color:bisque
}
  
.sidebar {
	grid-area: sidebar;
	padding:20px;
    background-color: rgb(43, 146, 127);
	color:bisque;
	overflow: auto
}
.content {
	grid-area: content;
}

.sidebar-item {
	padding: 10px;
	background: bisque;
	border: 2px solid rgb(50, 112, 101);
	margin: 15px;
	color: rgb(50, 112, 101);
}

.sidebar-item:hover {
	padding: 10px;
	background: rgb(50, 112, 101);
	border: 5px bisque;
	margin: 15px;
	color: bisque;
}

